<div class="form-group row">
  <label class="col-form-label col-sm-2" for="StudentID">StudentID</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="StudentID" value="<%= model.StudentID %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Name">Name</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="Name" value="<%= model.Name %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Email">Email</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="Email" value="<%= model.Email %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="DoB">DoB</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" type="DoB" name="DoB" value="<%= model.DoB %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="AadharNumber">AadharNumber</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="AadharNumber" value="<%= model.AadharNumber %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="MobileNumber">MobileNumber</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="MobileNumber" value="<%= model.MobileNumber %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Status">Status</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="Status" value="<%= model.Status %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="VaccinationStatus">VaccinationStatus</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="VaccinationStatus" value="<%= model.VaccinationStatus %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="VaccineType">VaccineType</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="VaccineType" value="<%= model.VaccineType %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="VaccinationWorkerId">VaccinationWorkerId</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="VaccinationWorkerId" value="<%= model.VaccinationWorkerId %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="VaccinationWorkerId">VaccinationWorkerId</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="VaccinationWorkerId" value="<%= model.VaccinationWorkerId %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="VaccinationDate">VaccinationDate</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="VaccinationDate" value="<%= model.VaccinationDate %>" />
  </div>
</div>
